<h1>Build-Your-Own</h1>
<form class="ui form" method="POST" action="/buildyourown">
  <div class="field">
    <label>Ingredient</label>
    <input type="text" name="ingredient" placeholder="Ingredient Name">
  </div>
  <div class="ui form">
  <div class="field">
    <label>Tell us how you want the ingredients spread:</label>
    <textarea rows="2"></textarea>
  </div>
  <div class="ui container">
    <button class="ui green basic button" type="submit">Submit</button>
  </div>
</form>