<html>
  <head>
    <title>Afro De Bernardo</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <%= erb :navbar %>
    <div class="ui center aligned container">
      <%= yield %>
    </div>
  </body>
</html>